@import "../../vars.css";

.timer {
  display: inline-flex;
  font-family: var(--font-title);
  text-shadow: 0 2px 0 var(--color-darker-gray);
}
.timer .icon { filter: drop-shadow(0 2px 0 var(--color-darker-gray)); }

.timer.warning, .timer.expired {
  color: var(--color-error);
  text-shadow: 0 2px 0 var(--color-dark-error);
}
.timer.warning .icon, .timer.expired .icon {
  filter: drop-shadow(0 2px 0 var(--color-dark-error));
}
.timer.expired .time {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

@keyframes blink {
      0% { opacity: 1; }
   49% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 0; }
}
