certifi==2025.1.31
channels_redis==4.2.1
channels[daphne]==4.2.2
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
pillow==11.2.1
qrcode==8.2
redis==5.2.1
requests==2.32.3
stripe==12.3.0
