@import "../../vars.css";

.navigating {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);

  gap: 1rem;
  align-items: center;

  background: var(--color-bg-alt);
  border: 2px solid var(--color-dark-gray);
  border-radius: 8px;
  z-index: 1;
}
.navigating .spinner {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
}
