@font-face {
  font-family: '04b';
  src: url(./assets/fonts/04b.ttf) format('truetype');
}

@font-face {
  font-family: "PressStart2P";
  src: url(./assets/fonts/PressStart2P.ttf) format('truetype');
}

@font-face {
  font-family: "RetroGaming";
  src: url(./assets/fonts/RetroGaming.ttf) format('truetype');
}

:root {
  --color-bg: #020202; /* #0a1a0b */
  --color-bg-alt: #0a1a0b; /* #0e220f */
  --color-text: #edf2f5; /* #cad9c9 */
  --color-text-alt: #7b3e30;
  --color-primary: #26B24C; /* #45914a */
  --color-primary-light: #30EC63; /* #45914a */
  --color-active: #eff0ed;
  --color-light-gray: #eee;
  --color-lighter-gray: #ccc;
  --color-gray: #bbb;
  --color-dark-gray: #999;
  --color-darker-gray: #666;

  --color-error: #d00;
  --color-dark-error: #600;
  --color-gems: #94e5ff;

  --font-accent: "RetroGaming", mono, monospace;
  --font-mono: mono, monospace;
  --font-title: '04b', sans-serif;
  --font-text-alt: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-text: "RetroGaming", var(--font-text-alt);

  --header-height: 40px;
}
