@import "../vars.css";

.game-nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  margin-bottom: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-gray);
  box-shadow: 2px 2px 0 var(--color-dark-gray);
}

.game-nav li {
  box-sizing: border-box;
  flex: 1 1 100%;
  text-align: center;
}

.game-nav a {
  padding: 0.5rem !important;
  border: none;
  border-radius: 0;
  font-weight: bold;
  font-family: var(--font-title);
  text-shadow: 0 2px 0 var(--color-gray);
  font-size: min(4vw, 1em);
  color: var(--color-bg);
}
.game-nav a .icon { font-size: 1.4em; }
.game-nav a.active .icon {
  animation: squish 2s ease-in-out infinite;
}
@keyframes squish {
  0% { transform: scale(1, 1); }
  67% { transform: scale(1.2, 0.8); }
}
.game-nav a:active {
  transform: translateY(4px);
}

.game-nav li:nth-child(2) a {
  border-right: 2px dashed var(--color-gray);
  border-left: 2px dashed var(--color-gray);
}
/*.game-nav li:last-of-type a {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}*/
.game-nav a.active {
  background: var(--color-primary);
  color: var(--color-text);
}

.waiting-bar {
  background-color: var(--color-active);
  color: var(--color-bg);
  padding: 0.5rem;
  font-weight: 600;
  gap: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  font-size: 0.8em;
}
.waiting-bar .spinner {
  width: 1rem; height: 1rem;
  border-width: 4px;
}

.gems {
  position: absolute;
  top: 0.5rem;
  border: 1px solid var(--color-primary);
  border-right: none;
  /*border-radius: 0 10px 10px 0;
  left: 0;
  border-left: none;
   */
  z-index: 1;
  right: 0;
  border-radius: 10px 0 0 10px;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: 0.6s;
  transition-timing-function: ease-out;

  box-shadow: 0 1rem 0 rgba(255, 255, 255, 0.05) inset,
              0 1rem 6px rgba(255, 255, 255, .1) inset;
  background: var(--color-bg-alt);
}
.gems .icon {
  color: var(--color-gems);
}

.gems::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  animation: shine 10s infinite ease;
  animation-delay: 5s;
}

@keyframes shine {
  0% {
    left: -60%;
    opacity: 0;
  }
  8% {
    left: 130%;
    opacity: 1;
  }
  100% {
    left: 130%;
    opacity: 1;
  }
}

.tap {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle,rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.07) 70%, rgba(255, 255, 255, 0) 100%);
  transform: translate(-50%, -50%);
  animation: grow 0.5s ease-in-out forwards;
  pointer-events: none;
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}


.tabs {
  margin: 1rem 0.5rem;
  border-radius: 8px;
  min-height: 0;
  flex: 1 1 0;
}

.tab-list {
  background-color: var(--color-text);
  padding-bottom: 2px;
  display: flex;
  flex-flow: row wrap;
}
.tab-list button { flex: 1 0 auto; }

.tab {
  border: none;
  border-radius: 0;
  display: inline-flex !important;
  /*border-bottom: 4px solid transparent;*/
  padding-right: 2rem;
  color: var(--color-darker-gray);
  background: var(--color-light-gray);
  transition: 0.2s;
}

.tab.active {
  /*border-bottom: 4px solid var(--color-primary);*/
  /*color: var(--color-bg);*/
  color: var(--color-text);
  background: var(--color-text);
}
.tab.active.button {
  text-shadow: 0 1px 0 var(--color-darker-gray);
}

.tab-content {
  flex: 1 1 0;
  min-height: 0;
}
