@import '../../../vars.css';

.no-touch {
  user-select: none;
}

.letter {
  opacity: 0.8;
}

.letter.correct {
  opacity: 1;
  color: var(--color-primary);
}

.letter.error {
  opacity: 1;
}

.cursor {
  display: inline;
  position: absolute;
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
