@import "../../../vars.css";

.modal input {
  width: 100%;
  box-sizing: border-box;
}

.gem-products img {
  max-height: 200px;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}

.gem-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  list-style: none;
}
.gem-products h3 {
  text-shadow: 0 2px 0 var(--color-gray);
  margin-bottom: 0;
}

.gem-products li {
  border: 2px solid var(--color-gray);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color-text);
  color: var(--color-text-alt);
  position: relative;
}

.gem-products li::before {
  content: "Limited Offer!";
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text);
  background: var(--color-error);
  padding: 0.25rem 2rem;
  text-wrap: nowrap;
  border-radius: 50px;
  text-shadow: 0 1px 0 var(--color-gray);
  font-family: var(--font-title);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% { transform: translateX(-50%) scale(1); }
  50% { transform: translateX(-50%) scale(1.05); }
  100% { transform: translateX(-50%) scale(1); }
}


.gems-amount {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--color-text-alt);
  text-shadow: 0 4px 0 var(--color-gems);
  font-family: var(--font-title);
}
.gems-amount .icon {
  filter: drop-shadow(0 4px 0 var(--color-gems)) drop-shadow(0 0 12px var(--color-gems));
}

.stripe-wrapper { position: relative; height: 100%; background-color: white; }
.stripe-wrapper button {
  top: 1rem !important;
  transform: translateY(0%);
  right: auto !important;
  left: 0.5rem;
}
.stripe-wrapper button:active { transform: translateY(2px) !important; }
