@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.kicked-overlay {
  display: none;
}

.kicked .kicked-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: red;
  z-index: 100;
  animation: flash 0.5s infinite;
  display: block;
}
